<div class="mceTmpl">
  <table style="border-collapse: collapse; width: 31.8471%; height: 180.5px;" border="1"><colgroup><col style="width: 25.1704%;"><col style="width: 25.1704%;"><col style="width: 25.1704%;"><col style="width: 24.9284%;"></colgroup>
  <tbody>
  <tr style="height: 22.4px;">
  <td style="height: 22.4px;">&nbsp;</td>
  <td style="height: 22.4px;">&nbsp;</td>
  <td style="height: 22.4px;">&nbsp;</td>
  <td style="height: 22.4px;">&nbsp;</td>
  </tr>
  <tr style="height: 23.05px;">
  <td style="height: 23.05px;">&nbsp;</td>
  <td style="height: 23.05px;">&nbsp;</td>
  <td style="height: 23.05px;">&nbsp;</td>
  <td style="height: 23.05px;">&nbsp;</td>
  </tr>
  <tr style="height: 22.4px;">
  <td style="height: 22.4px;">&nbsp;</td>
  <td style="height: 22.4px;">&nbsp;</td>
  <td style="height: 22.4px;">&nbsp;</td>
  <td style="height: 22.4px;">&nbsp;</td>
  </tr>
  <tr style="height: 22.4px;">
  <td style="height: 22.4px;">&nbsp;</td>
  <td style="height: 22.4px;">&nbsp;</td>
  <td style="height: 22.4px;">&nbsp;</td>
  <td style="height: 22.4px;">&nbsp;</td>
  </tr>
  <tr style="height: 22.4px;">
  <td style="height: 22.4px;">&nbsp;</td>
  <td style="height: 22.4px;">&nbsp;</td>
  <td style="height: 22.4px;">&nbsp;</td>
  <td style="height: 22.4px;">&nbsp;</td>
  </tr>
  <tr style="height: 22.4px;">
  <td style="height: 22.4px;">&nbsp;</td>
  <td style="height: 22.4px;">&nbsp;</td>
  <td style="height: 22.4px;">&nbsp;</td>
  <td style="height: 22.4px;">&nbsp;</td>
  </tr>
  <tr style="height: 23.05px;">
  <td style="height: 23.05px;">&nbsp;</td>
  <td style="height: 23.05px;">&nbsp;</td>
  <td style="height: 23.05px;">&nbsp;</td>
  <td style="height: 23.05px;">&nbsp;</td>
  </tr>
  <tr style="height: 22.4px;">
  <td style="height: 22.4px;">&nbsp;</td>
  <td style="height: 22.4px;">&nbsp;</td>
  <td style="height: 22.4px;">&nbsp;</td>
  <td style="height: 22.4px;">&nbsp;</td>
  </tr>
  </tbody>
  </table>
</div>
